* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 49vh;
  }
  50% {
    left: 50%;
    top: 3vh;
  }
  100% {
    left: 105%;
    top: 12vh;
  }
}

@keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 49vh;
  }
  50% {
    left: 50%;
    top: 3vh;
  }
  100% {
    left: 105%;
    top: 12vh;
  }
}

@-webkit-keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 44vh;
  }
  50% {
    left: 50%;
    top: 50vh;
  }
  100% {
    left: 105%;
    top: 14vh;
  }
}

@keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 44vh;
  }
  50% {
    left: 50%;
    top: 50vh;
  }
  100% {
    left: 105%;
    top: 14vh;
  }
}

@-webkit-keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 47vh;
  }
  50% {
    left: 50%;
    top: 60vh;
  }
  100% {
    left: 105%;
    top: 36vh;
  }
}

@keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 47vh;
  }
  50% {
    left: 50%;
    top: 60vh;
  }
  100% {
    left: 105%;
    top: 36vh;
  }
}

@-webkit-keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 18vh;
  }
  50% {
    left: 50%;
    top: 15vh;
  }
  100% {
    left: 105%;
    top: 27vh;
  }
}

@keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 18vh;
  }
  50% {
    left: 50%;
    top: 15vh;
  }
  100% {
    left: 105%;
    top: 27vh;
  }
}

@-webkit-keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 51vh;
  }
  50% {
    left: 50%;
    top: 68vh;
  }
  100% {
    left: 105%;
    top: 63vh;
  }
}

@keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 51vh;
  }
  50% {
    left: 50%;
    top: 68vh;
  }
  100% {
    left: 105%;
    top: 63vh;
  }
}

@-webkit-keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 15vh;
  }
  50% {
    left: 50%;
    top: 13vh;
  }
  100% {
    left: 105%;
    top: 15vh;
  }
}

@keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 15vh;
  }
  50% {
    left: 50%;
    top: 13vh;
  }
  100% {
    left: 105%;
    top: 15vh;
  }
}

@-webkit-keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

body {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  counter-reset: count;
  cursor: url(../img/cursor_1.svg) 2 2, auto;
}

.score {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 200;
  width: 110%;
  left: -5%;
}

h1 {
  padding: 1em 1em 0;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  left: -99999999px;
}

.duck-1 {
  position: absolute;
  -webkit-animation: duck-fly-1 15s linear 1s 1 both;
          animation: duck-fly-1 15s linear 1s 1 both;
}

.duck-2 {
  position: absolute;
  -webkit-animation: duck-fly-2 15s linear 2s 1 both;
          animation: duck-fly-2 15s linear 2s 1 both;
}

.duck-3 {
  position: absolute;
  -webkit-animation: duck-fly-3 15s linear 3s 1 both;
          animation: duck-fly-3 15s linear 3s 1 both;
}

.duck-4 {
  position: absolute;
  -webkit-animation: duck-fly-4 15s linear 4s 1 both;
          animation: duck-fly-4 15s linear 4s 1 both;
}

.duck-5 {
  position: absolute;
  -webkit-animation: duck-fly-5 15s linear 5s 1 both;
          animation: duck-fly-5 15s linear 5s 1 both;
}

.duck-6 {
  position: absolute;
  -webkit-animation: duck-fly-6 15s linear 6s 1 both;
          animation: duck-fly-6 15s linear 6s 1 both;
}

img {
  width: 50px;
  cursor: url(../img/cursor_1.svg) 2 2, auto;
}

input[type="checkbox"]:checked {
  counter-increment: count;
}

input[type="checkbox"]:checked + img {
  visibility: hidden;
}

h1::after {
  content: ": " counter(count);
}

.game-over {
  height: 100%;
  width: 100%;
  display: block;
  background: white;
  pointer-events: all;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 200;
  -webkit-animation: appear .25s forwards;
          animation: appear .25s forwards;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  background: repeating-linear-gradient(-45deg, #c9ff00 0, #c9ff00 5em, #20c0ff 5em, #20c0ff 10em);
}

.game-over h2 {
  font-size: 46px;
  padding: 1.5em .6em 1em;
  background: white;
  color: red;
}

@media (max-width: 414px) {
  .game-over h2 {
    font-size: 36px;
    padding: 2.5em .8em 1em;
  }
}

.play-again {
  background: white;
  color: #20c0ff;
  padding: .5em 0;
  font-size: .7em;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */