* {
    box-sizing: border-box;
}

@for $i from 1 to 7 {
    @keyframes duck-fly-#{$i} {
        0% { 
            left: -55px;
            top: random(75) + vh; 
        }
    
        50% {
            left: 50%;
            top: random(75) + vh;
        }
    
        100% { 
            left: 105%;
            top: random(75) + vh;
        }
    }
}

@keyframes appear {
    from {
        top: -100vh;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

body {
    position: relative;
    overflow: hidden;
    text-align: center;

    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    counter-reset: count;

    cursor: url(../img/cursor_1.svg) 2 2, auto;
}

.score {
    display: block;
    text-align: center;
    position: absolute;
    z-index: 200;
    width: 110%;
    left: -5%;
}

h1 {
    padding: 1em 1em 0;
}

input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    left: -99999999px;
}

@for $i from 1 to 7 {
    .duck-#{$i} {
        position: absolute;
        animation: duck-fly-#{$i} 15s linear #{$i}s 1 both;
    }
}

img {
    width: 50px;
    cursor: url(../img/cursor_1.svg) 2 2, auto;
}

input[type="checkbox"]:checked {
    counter-increment: count;
}

input[type="checkbox"]:checked + img {
    visibility: hidden;
}

h1::after {
    content: ': ' counter(count);
}

.game-over {
    height: 100%;
    width: 100%;
    display: block;
    background: white;
    pointer-events: all;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 200;
    animation: appear .25s forwards;
    animation-delay: 15s;
    background: repeating-linear-gradient(-45deg, #c9ff00 0, #c9ff00 5em, #20c0ff 5em, #20c0ff 10em);

    h2 {
        font-size: 46px;
        padding: 1.5em .6em 1em;
        background: white;
        color: red;

        @media (max-width: 414px) {
            font-size: 36px;
            padding: 2.5em .8em 1em;
        }
    }
}

.play-again {
    background: white;
    color: #20c0ff;
    padding: .5em 0;
    font-size: .7em;
    font-weight: 700;
}